<header>
      <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#login/logout">Login/Logout</a>
          <a href="#myResources">My Resources</a>
          <input type="text" placeholder="Search..">
      </div>
    </header>
