<header>
      <div class="topnav">
          <a class="active" href="/">Home</a>
          <form method="POST" action="/">
          <p>Username: </p>
          <input type='username' name="username">
          <p>Password: </p>
          <input type='password' name='password'>
          <br>
          <br><button type="submit" class="btn btn-primary">Login</button>
          </form>

          <a href="/genesis">My Resources</a>
          <input type="text" placeholder="Search..">
      </div>
    </header>

