<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<header>
  <div class="topnav">
    <h1 class="welcome"></h1>
    <%if(username){%>
    <p>Hello, <%= username %>! Welcome to Genesis </p>
    <div>
     <a class="active" href="/">Home</a>
     <a href="/genesis">My Resources</a>
     <form method="POST" action="/logout">
            <button type="submit" class="btn btn-primary">Logout</button>
      </form>
      <% }else{ %>
       <a class="button-login" href='/login'>Login</a>
      <% } %>
    </div>
    <div>
      <input class="searchbar" type="text" placeholder="Search..">
    </div>
  </div>
</header>
