<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Wall</title>

   <!--  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

    <link rel="stylesheet" href="/styles/masonry.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>


  </head>


  <body>
    <% include ./partials/_header %>

    <h1>Genesis Board</h1>
    <h3>concept formation plateform</h3>
    <div class="masonry">
      <div id="thumbnails">
      </div>
    </div>
      <footer></footer>
    </article>



    <section>

        </section>
  </body>
  <script type="text/javascript" src="/scripts/main_page.js"></script>

</html>
