<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Genesis Board</h1>
    <h3>concept formation plateform</h3>
    <section>
      <div class='container'>
  <object class='resourcemedia' type='media'src="http://c1.staticflickr.com/9/8788/17367410309_78abb9e5b6_b.jpg"></object>
<object class='resourcemedia' type='media' src="http://c2.staticflickr.com/6/5814/20700286354_762c19bd3b_b.jpg"></object>
<object class='resourcemedia' type='media'src="http://c2.staticflickr.com/6/5647/21137202535_404bf25729_b.jpg"></object>
    </div>

        </section>
  </body>
</html>
