<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Info</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Resource Title (use database to determine the title of the resource)</h1>
      <ul>-attach hyperlink anchor to title that will redirect to the original URL source</ul>
      <object class='resourcemedia' type='media'>

      </object>
      <section class='description-box'>
        <h2>Description</h2>
          <textarea class="resourceinfo" placeholder="This is where the description of the resource will go. It is up to the user to determine how much information they would like to include. Text box will max out at 350 characters."></textarea>
      </section>
      <div class="comment">
        <textarea></textarea>
        <button class="commentButton" type="submit">Add a Comment</button>
        <article type="text">
          <textarea class="existing-comments">This will be were existing comments are displayed
          </textarea>
        </article>
      </div>
  </body>
</html>
