<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Info</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<!--     <link rel="stylesheet" href="/styles/info_page_styling.css" type="text/css" />
 -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/comments_container.js"></script>


  </head>

  <body>

    <h1 id="resource-title"></h1>
    <div>
      <img id="resource-media" type="media"/>
      <section class="description-box">

        <h2>Description</h2>
          <article id="description">
          </article>
      </section>


    <form method="POST" action="/rating">
    <div class="rating" data-rating="0">
        <span value="1">☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
    </div>
    </form>

  <form method="POST" action="/likes">
    <span>
    <button class="Like">
                <text>Like</text>
    </button>
    </span>
  </form>
    <div id="date-div">
      <span id="date"></span>
    </div>
    </div>


  <div class="comment">
    <form id ="new-post" method="POST" action="/resource/<%= resource_id %>/comments">
      <input type="text" name="comment" />

      <button class="commentButton" type="submit">Add a Comment</button>
    </form>
  </div>

  <div class="resource-comments">
    <h2>Comments</h2>
    <ol class="existing-comments" type="text"></ol>
  </div>


      </article>

      </section>
    </div>

  </body>
</html>
