<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Info</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/info_page_styling.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/comments_container.js"></script>

  </head>

  <body>



    <h1 id="resource-title"></h1>
    <div>
      <object id="resource-media" type="media">
      </object>
      <section class="description-box">

        <h2>Description</h2>
          <article id="description">
          </article>
      </section>


  <form method="POST" action="/rating">
    <div class="rating">
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
    </div>
    </form>

  <form method="POST" action="/likes">
    <span>
    <button class="Like">
                <text>Like</text>
    </button>
    </span>
  </form>

      <form method="POST" action="/comments">
    </div>
    <div id="date-div">
      <span id="date"></span>
    </div>
    <div class="comment">
      <textarea></textarea>
      <button class="commentButton" type="submit">Add a Comment</button>

      <article class="existing-comments" type="text"></article>

    </div>

      <div class="comment">
        <textarea></textarea>
        <button class="commentButton" type="submit">Add a Comment
        </button>
        <article type="text">
          <textarea class="existing-comments">This will be were existing comments are displayed
          </textarea>
        </article>
      </div>

    </form>
  </body>
</html>
