<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>My Resources</title>
</head>

<body>

<% include ./partials/_header %>

  <h4>Category</h4>
 <select>
  <option value="All">All</option>
  <option value="Design">Design</option>
  <option value="Food">Food</option>
  <option value="Coding">Coding</option>
</select>

    <textarea class="empty" name="text" placeholder="New Category"></textarea>
    <input type="submit" value="Add">


<form action="/genesis" method="POST">
   <input type="submit" value="Create Resource">
</form>
<object class='resourcemedia' type='media'>

      </object>
    <main class="container">

      <br>
      <section>


              <img src="/public/images/vicious_dog_0.png" >

        </section>
    </main>
  </body>
</html>
