<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



  <title>My Resources</title>
</head>

<body>

<% include ./partials/_header %>

  <h4>Category</h4>
 <select name="category">
  <option value="all">all</option>
  <option value="design">design</option>
  <option value="food">food</option>
  <option value="coding">coding</option>
</select>

<form method="POST" action="/category">
    <textarea class="empty" name="addNewTopic" placeholder="New Topic"></textarea>
    <input type="submit" value="Add">
</form>

<form action="/genesis" method="POST">
   <input type="submit" value="Create Resource">
</form>
<object class='resourcemedia' type='media'>

      </object>
    <main class="container">

      <br>
      <section>


              <img src="/public/images/vicious_dog_0.png" >

        </section>
    </main>
  </body>
</html>
