<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



  <title>My Resources</title>
</head>

<body>

<% include ./partials/_header %>



<form method="GET" action="/genesis">
  <h4>Category</h4>
 <select id = "drop" name="category">
<% newTopic.forEach(function(item, index){ %>
     <option class="dropdown" value="<%= item %>"><%= item %></option>
<% }) %>
 </select>
 </form>





<form method="POST" action="/category">
    <textarea name="addNewTopic" placeholder="New Topic" class="textBox"></textarea>
    <input type="submit" value="Add" class="add-category">
</form>



<form action="/genesis" method="POST">
   <input type="submit" value="Create Resource" class="create-resource-button">
</form>


    <div class="container grid"> 
      <div id="thumbnails"></div>
      <h2 id="resource-title"></h2>
    </div>

  </body>
  <script type="text/javascript" src="/scripts/categorize.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</html>
