<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Resource</title>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>

  <body>

      <% include ./partials/_header %>

    <h1>Create a New Resource</h1>
    <form method="POST" action="/new">
    	<div>
    		<label for="title">Titles: </label>
    		<input type="text" name="title"/>
    	</div>
    	<div>
    		<label for="source_url">URL: </label>
    		<input type="URL" name="source_url" placeholder="http://" required/>
    	</div>
        <div>
            <h4>Category</h4>
            <select name="category">
            <option value="All">All</option>
            <option value="design">design</option>
            <option value="food">food</option>
            <option value="coding">coding</option>
            </select>
        </div>
    	<div>
    		<label for="description">Description: </label>
    	</div>
    		<div>
    		<textarea name="description" placeholder="How do you feel?"></textarea>
            <button input="submit">submit</button>
    	</div>

    </form>

  </body>
</html>